<footer class="page-footer">
    <div class="shell offset-top-60">
        <hr class="divider divider-lg offset-0">
        @*<div class="range text-center text-lg-left section offset-top-0">
            <div class="cell-sm-preffix-2 cell-sm-8 cell-lg-4 cell-xl-3 cell-lg-preffix-0 cell-lg-push-4">
                <h3 class="text-regular text-italic font-accent">Get latest news delivered daily!</h3>
                <div>
                    <p>We will send you breaking news right to your inbox</p>
                </div>
                <!-- RD Mailform-->
                <form data-result-class="rd-mailform-validate" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="offset-top-25 rd-mailform-inline rd-mailform form-inline-flex reveal-xs-flex">
                    <input type="text" name="email" data-constraints="@@NotEmpty @@Email" placeholder="Your e-mail">
                    <button class="btn btn-warning">Subscribe</button>
                </form>
                <!-- Rd Mailform result field-->
                <div class="rd-mailform-validate"></div>
            </div>
            <div class="cell-sm-preffix-1 cell-sm-10 cell-lg-4 cell-xl-3 cell-lg-preffix-0 offset-top-45 offset-lg-top-0 cell-lg-push-3">
                <h6 class="text-bold">Tags</h6>
                <div class="offset-top-20">
                    <ul class="element-groups-sm-custom small text-italic">
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">News</a></li>
                        <li><a href="world.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">World</a></li>
                        <li><a href="tech.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Tech</a></li>
                        <li><a href="business.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Business</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Army</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Travel</a></li>
                        <li><a href="sports.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Sport</a></li>
                        <li><a href="culture.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Culture</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Commodities</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">NBA</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">War</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Gadgets</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Health</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Social</a></li>
                        <li><a href="politics.html" class="btn btn-default btn-sm btn-rect text-regular font-accent">Money</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell-xs-6 cell-xl-3 cell-lg-2 offset-top-45 offset-lg-top-0">
                <h6>Categories</h6>
                <ul class="small text-center text-lg-left list-unstyled list text-italic font-accent">
                    <li><a href="politics.html">News</a></li>
                    <li><a href="politics.html">Politics</a></li>
                    <li><a href="business.html">Business</a></li>
                    <li><a href="sports.html">Sport</a></li>
                    <li><a href="culture.html">Culture</a></li>
                    <li><a href="tech.html">Tech</a></li>
                    <li><a href="politics.html">Travel</a></li>
                    <li><a href="politics.html">Videos</a></li>
                </ul>
            </div>
            <div class="cell-xs-6 cell-lg-2 cell-xl-3 offset-top-45 offset-lg-top-0">
                <h6>Information</h6>
                <ul class="small text-center text-lg-left list-unstyled list text-italic font-accent">
                    <li><a href="about-us.html">About us</a></li>
                    <li><a href="contacts.html">Contact us</a></li>
                    <li><a href="typography.html">Typography</a></li>
                </ul>
            </div>
        </div>*@
        @*<hr class="divider divider-offset-top-52">*@
        <div class="range text-left offset-top-36">
            @*<div class="cell-md-5 cell-md-push-1 text-center text-md-right">
                <!-- list social-->
                <ul class="list-inline-0">
                    <li><a href="#" class="icon icon-circle fa-facebook icon-default"></a></li>
                    <li><a href="#" class="icon icon-circle fa-twitter icon-default"></a></li>
                    <li><a href="#" class="icon icon-circle fa-google-plus icon-default"></a></li>
                    <li><a href="#" class="icon icon-circle fa-youtube icon-default"></a></li>
                    <li><a href="#" class="icon icon-circle fa-feed icon-default"></a></li>
                </ul>
            </div>
            *@
            <div class="cell-md-7 text-center text-md-left offset-top-25 offset-md-top-0">
                <div class="brand reveal-md-inline-block">Хабаровск Погода Центр</a></div>
                <p class="reveal-md-inline-block offset-top-20 offset-top-md-0 small">
                     <a href="http://khabmeteo.ru" target="_blank">© @DateTime.Now.Year.ToString() ФГБУ &laquo;<span>Дальневосточное УГМС</span>&raquo;</a>
                </p>
            </div>
        </div>
    </div>
</footer>