<!-- RD Navbar Wrap-->
<div class="rd-navbar-nav-wrap">
        <div class="rd-navbar-social-list">
            <!-- list social-->
            @*<ul class="list-inline-0">
                <li><a href="#" class="icon icon-circle fa-facebook icon-default"></a></li>
                <li><a href="#" class="icon icon-circle fa-twitter icon-default"></a></li>
                <li><a href="#" class="icon icon-circle fa-google-plus icon-default"></a></li>
                <li><a href="#" class="icon icon-circle fa-youtube icon-default"></a></li>
                <li><a href="#" class="icon icon-circle fa-feed icon-default"></a></li>
            </ul>*@
        </div>
        <!-- RD Navbar Nav-->
        <ul class="rd-navbar-nav">
            @*<li class="active">
                <a href="./">Home</a>
                <!-- RD Navbar Dropdown-->
                <ul class="rd-navbar-dropdown">
                    <li><a href="categories-grid.html">Grid Layout</a></li>
                    <li><a href="categories-masonry.html">Masonry Layout</a></li>
                    <li><a href="categories-list.html">List Layout</a></li>
                    <li>
                        <a href="#">Header Settings</a>
                        <ul class="rd-navbar-dropdown">
                            <li><a href="header-variant-1.html">Header style 1</a></li>
                            <li><a href="header-variant-2.html">Header style 2</a></li>
                            <li><a href="header-default.html">Header style 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Footer Settings</a>
                        <ul class="rd-navbar-dropdown">
                            <li><a href="footer-variant-1.html">Footer Style 1</a></li>
                            <li><a href="footer-default.html">Footer Style 2</a></li>
                            <li><a href="footer-variant-2.html">Footer style 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sidebar Settings</a>
                        <ul class="rd-navbar-dropdown">
                            <li><a href="index.html">Right Sidebar</a></li>
                            <li><a href="index-sidebar-left.html">Left Sidebar</a></li>
                            <li><a href="index-sidebar-none.html">No Sidebar</a></li>
                        </ul>
                    </li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
            </li>
                *@
            <li><a href="@Url.Action("Index", "Home")">Новости</a></li>
            <li><a href="@Url.Action("Index", "Review")">Обзоры</a></li>
            @*<li><a href="sports.html">Sports</a></li>
            <li><a href="culture.html">Culture</a></li>
            <li><a href="tech.html">Tech</a></li>
            <li><a href="world.html">World</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="contacts.html">Contacts</a></li>*@
        </ul>
    </div>