<div class="range">
    <div class="cell-sm-8 cell-sm-preffix-2 cell-lg-12 cell-lg-preffix-0 cell-xs-push-1 cell-lg-push-1">
        <div class="bg-gray-base context-dark section-top-15 section-bottom-30 inset-p-left-6 inset-p-right-6">
            <h3 class="heading-italic text-light">Поиск</h3>
            <form action="#" class="form-inline-flex reveal-xs-flex">
                <div class="form-group offset-bottom-0">
                    <input type="text" name="search1" placeholder="Я ищу...." class="form-control">
                </div>
                <button type="submit" class="btn btn-warning offset-xs-left-10 offset-top-12 offset-xs-top-0">Искать</button>
            </form>
        </div>
    </div>
    <div class="cell-sm-8 cell-sm-preffix-2 cell-lg-12 cell-lg-preffix-0 cell-xs-push-7 cell-lg-push-2 text-center text-lg-left">
        <div class="bg-gray-light section-top-15 section-bottom-30 inset-p-left-6 inset-p-right-6 offset-top-45 offset-xl-top-60">
            <h3 class="heading-italic text-light">Follow us</h3>
            <p>Read our latest news on any of these social networks!</p>
            <!-- Social list-->
            <!-- list social-->
            <ul class="list-inline-0">
                <li><a href="#" class="icon icon-circle fa-facebook icon-gray-base"></a></li>
                <li><a href="#" class="icon icon-circle fa-twitter icon-gray-base"></a></li>
                <li><a href="#" class="icon icon-circle fa-google-plus icon-gray-base"></a></li>
                <li><a href="#" class="icon icon-circle fa-youtube icon-gray-base"></a></li>
                <li><a href="#" class="icon icon-circle fa-feed icon-gray-base"></a></li>
            </ul>
            <hr class="divider divider-dashed">
            <h3 class="heading-italic text-light">Get latest news delivered daily!</h3>
            <p>We will send you breaking news right to your inbox</p>
            <!-- RD Mailform-->
            <form data-result-class="rd-mailform-validate" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="offset-top-20 rd-mailform-inline rd-mailform form-inline-flex reveal-xs-flex">
                <input type="text" name="email" data-constraints="@@NotEmpty @@Email" placeholder="Your e-mail">
                <button class="btn btn-warning">Subscribe</button>
            </form>
            <!-- Rd Mailform result field-->
            <div class="rd-mailform-validate"></div>
        </div>
    </div>
    <div class="cell-xs-12 cell-xs-push-2 cell-lg-push-4 offset-top-45">
        <div class="heading-divider">
            <h3 class="heading-italic text-light">Recent posts</h3>
        </div>
        <div class="range offset-top-45">
            <div class="cell-sm-6 cell-lg-12">
                <div class="post post-variant-1">
                    <div class="post-inner">
                        <img src="images/sidebar-07.jpg" width="536" height="411" alt="" class="img-responsive post-image">
                        <div class="post-caption">
                            <ul>
                                <li><a href="politics.html"><span class="label label-warning">News</span></a></li>
                            </ul>
                            <div>
                                <div class="h4 text-normal font-accent-2"><a href="post-with-slider.html">Bill Maher & Macfarlene: ‘Serial Anti-Catholic Bigots’ - Catholic League</a></div>
                                <div class="post-meta post-meta-hidden-outer">
                                    <div class="post-meta-hidden">
                                        <div class="icon text-gray icon-lg material-icons-share">
                                            <ul>
                                                <li><a href="#" class="icon fa fa-facebook"></a></li>
                                                <li><a href="#" class="icon fa fa-twitter"></a></li>
                                                <li><a href="#" class="icon fa fa-google-plus"></a></li>
                                                <li><a href="#" class="icon fa fa-linkedin"></a></li>
                                                <li><a href="#" class="icon fa fa-pinterest"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="element-groups-custom veil reveal-md-block">
                                        <a href="categories-grid.html" class="post-meta-author">Brian Williamson</a><a href="categories-grid.html" class="post-meta-time">
                                            <time datetime="2016-06-06">2h ago</time>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider divider-dashed">
                <div class="post post-variant-1">
                    <div class="post-inner">
                        <img src="images/sidebar-08.jpg" width="536" height="411" alt="" class="img-responsive post-image">
                        <div class="post-caption">
                            <ul>
                                <li><a href="politics.html"><span class="label label-warning">News</span></a></li>
                            </ul>
                            <div>
                                <div class="h4 text-normal font-accent-2"><a href="post-with-audio.html">Spotify aims to raise $500M in debt</a></div>
                                <div class="post-meta post-meta-hidden-outer">
                                    <div class="post-meta-hidden">
                                        <div class="icon text-gray icon-lg material-icons-share">
                                            <ul>
                                                <li><a href="#" class="icon fa fa-facebook"></a></li>
                                                <li><a href="#" class="icon fa fa-twitter"></a></li>
                                                <li><a href="#" class="icon fa fa-google-plus"></a></li>
                                                <li><a href="#" class="icon fa fa-linkedin"></a></li>
                                                <li><a href="#" class="icon fa fa-pinterest"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="element-groups-custom veil reveal-md-block">
                                        <a href="categories-grid.html" class="post-meta-author">Brian Williamson</a><a href="categories-grid.html" class="post-meta-time">
                                            <time datetime="2016-06-06">2h ago</time>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider divider-dashed veil-sm reveal-lg-block">
            </div>
            <div class="cell-sm-6 cell-lg-12 offset-lg-top-30">
                <div class="post post-variant-1">
                    <div class="post-inner">
                        <img src="images/sidebar-09.jpg" width="536" height="411" alt="" class="img-responsive post-image">
                        <div class="post-caption">
                            <ul>
                                <li><a href="politics.html"><span class="label label-warning">News</span></a></li>
                            </ul>
                            <div>
                                <div class="h4 text-normal font-accent-2"><a href="post-with-quote.html">ICC Judges Start Investigations of Russian Aggressive War in Georgia in 2008</a></div>
                                <div class="post-meta post-meta-hidden-outer">
                                    <div class="post-meta-hidden">
                                        <div class="icon text-gray icon-lg material-icons-share">
                                            <ul>
                                                <li><a href="#" class="icon fa fa-facebook"></a></li>
                                                <li><a href="#" class="icon fa fa-twitter"></a></li>
                                                <li><a href="#" class="icon fa fa-google-plus"></a></li>
                                                <li><a href="#" class="icon fa fa-linkedin"></a></li>
                                                <li><a href="#" class="icon fa fa-pinterest"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="element-groups-custom veil reveal-md-block">
                                        <a href="categories-grid.html" class="post-meta-author">Brian Williamson</a><a href="categories-grid.html" class="post-meta-time">
                                            <time datetime="2016-06-06">2h ago</time>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell-xs-12 cell-xs-push-5 cell-lg-push-5 offset-top-36">
        <div class="heading-divider">
            <h3 class="heading-italic text-light">Recent comments  </h3>
        </div>
        <div class="range offset-top-0">
            <div class="cell-sm-8 cell-sm-preffix-2 cell-lg-12 cell-lg-preffix-0">
                <span class="small font-accent text-italic"><a href="categories-grid.html">Brian Williamson</a> on</span>
                <h5><a href="post-default.html" class="text-gray-base">Bradley Cooper’s "Twin" Causes Madness At Sundance Film Festival Opening</a></h5>
                <hr class="divider divider-dashed"><span class="small font-accent text-italic"><a href="categories-grid.html">Brian Williamson</a> on</span>
                <h5><a href="post-with-audio.html" class="text-gray-base">3 Ways To Conquer Your Winter Laziness</a></h5>
                <hr class="divider divider-dashed"><span class="small font-accent text-italic"><a href="categories-grid.html">Brian Williamson</a> on</span>
                <h5><a href="post-with-video.html" class="text-gray-base">Greeks were warned - stop refugees wave, or we will kick you out</a></h5>
            </div>
            <div class="cell-sm-8 cell-sm-preffix-2 cell-lg-12 cell-lg-preffix-0 offset-top-36">
                <div class="heading-divider">
                    <h3 class="heading-italic text-light">About Author</h3>
                </div><a href="about-us.html"><img src="images/sidebar-11.jpg" height="536" width="391" alt=""></a>
            </div>
        </div>
    </div>
    <div class="cell-xs-12 cell-xs-push-5 cell-lg-push-6 offset-top-36">
        <div class="range text-sm-left">
            <div class="cell-sm-6 cell-lg-12">
                <div class="heading-divider">
                    <h3 class="heading-italic text-light">Instagram</h3>
                </div>
                <!-- RD Instafeed-->
                <div data-instafeed-clientid="44f19408f04040bd85214315861a84a1" data-instafeed-get="user" data-instafeed-user="499522078" class="instafeed element-groups-xs-custom">
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                    <div data-instafeed-item=""><a href="#" data-link="href" target="_blank" class="thumbnail-variant-1"><img src="images/_blank.png" alt="" data-images-thumbnail-url="src" width="100" height="100"></a></div>
                </div>
                <div class="heading-divider">
                    <h3 class="heading-italic text-light">Twitter Widget</h3>
                </div>
                <!-- Twitter standart widget-->
                <div class="twitter">
                    <div class="box-content"><a data-width="400" data-height="210" data-theme="light" href="" data-tweet-limit="" data-widget-id="517285297164267522" class="twitter-timeline"></a></div>
                </div>
            </div>
            <div class="cell-sm-6 cell-lg-12 offset-top-36 offset-sm-top-0 offset-lg-top-36">
                <div class="heading-divider">
                    <h3 class="heading-italic text-light">Like Us On Facebook</h3>
                </div>
                <div id="fb-root">
                    <div class="fb-root fb-widget">
                        <!-- Facebook Feed-->
                        <div class="fb-page-responsive">
                            <div data-href="https://www.facebook.com/TemplateMonster" data-tabs="timeline" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" class="fb-page">
                                <div class="fb-xfbml-parse-ignore">
                                    <blockquote cite="https://www.facebook.com/TemplateMonster"><a href="https://www.facebook.com/TemplateMonster">TemplateMonster</a></blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-divider">
                    <h3 class="heading-italic text-light">Calendar</h3>
                </div>
                <!-- RD Calendar-->
                <div class="rd-calendar">
                    <div class="rdc-table">
                        <div class="rdc-panel text-center bg-gray-base context-dark">
                            <div class="h5">
                                <div class="rdc-month reveal-inline-block"></div><span>  </span>
                                <div class="rdc-fullyear reveal-inline-block"></div>
                            </div>
                        </div>
                    </div>
                    <div class="reveal-flex range-xs-justify"><a class="rdc-prev"></a><a class="rdc-next"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>