<div class="cell size-x200" id="cell-sidebar" style="background-color: #71b1d1; height: 100%">
    <ul class="sidebar">
        <li>
            <a href="@Url.Action("Create", "Article")">
                <span class="mif-file-text icon"></span>
                <span class="title">Добавить новость</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Article")">
                <span class="mif-files-empty icon"></span>
                <span class="title">Все новости</span>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Create", "Media")">
                <span class="mif-file-text icon"></span>
                <span class="title">Добавить изображение</span>
            </a>
        </li>

        @*<li class="active">
                <a href="#">
                    <span class="mif-drive-eta icon"></span>
                    <span class="title">Virtual machines</span>
                    <span class="counter">2</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="mif-cloud icon"></span>
                    <span class="title">Cloud services</span>
                    <span class="counter">0</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="mif-database icon"></span>
                    <span class="title">SQL Databases</span>
                    <span class="counter">0</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="mif-cogs icon"></span>
                    <span class="title">Automation</span>
                    <span class="counter">0</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="mif-apps icon"></span>
                    <span class="title">all items</span>
                    <span class="counter">0</span>
                </a>
            </li>*@
    </ul>
</div>